.reply-div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: "Inter";
}

h3.bubble {
    word-wrap: break-word;
    display: inline-block;
    position: relative;
    padding: 40px;
    border-radius: 100px;
    border: 2px solid black;
    background: white;
    font-family: "Inter";
    clear: both;
    word-wrap: break-word;
    bottom: 35px;
    left: 30px;
    min-width: 100px;
    max-width: 400px;

    &:before {
        content: "";
        position: absolute;
        bottom: -50px;
        height: 50px;
        width: 90px;
    }

    &.right {
        float: right;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 17px;
        max-width: 300px;

        &:before {
            border-radius: 0 0 0 100%;
            box-shadow: 1px -2px 0 0 #000 inset, 23px 0 0 0 #fff inset,
                25px -2px 0 0 #000 inset;
            right: 0;
        }
    }

    &.think {
        &:before {
            height: 3px;
            width: 3px;
            bottom: -20px;
            border-radius: 100%;
            background: #fff;
        }

        &.left:before {
            left: 50px;
            box-shadow: 0 0 0 7px white, 0 0 0 10px black, -20px 15px 0 5px white,
                -20px 15px 0 8px black, -40px 20px 0 2px white, -40px 20px 0 5px black;
        }

        &.right:before {
            right: 50px;
            box-shadow: 0 0 0 7px white, 0 0 0 10px black, 20px 15px 0 5px white,
                20px 15px 0 8px black, 40px 20px 0 2px white, 40px 20px 0 5px black;
        }
    }

    &.yell {
        &:before {
            height: 0px;
            width: 0px;
            bottom: -8px;
            border-radius: 0;
            background: #fff;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 1px;
            height: 20px;
            width: auto;
        }

        &.left {
            &:before {
                transform: skew(-45deg);
                left: 50px;
                box-shadow:
                    0 0 0 7px white,
                    0 -3px 0 5px white, 0 0 0 5px white, 0 8px 0 5px white,
                    8px 8px 0 5px white, 16px 8px 0 5px white, 24px 8px 0 5px white,
                    0 0 0 8px black, 0 8px 0 8px black, 8px 8px 0 8px black,
                    16px 8px 0 8px black, 24px 8px 0 8px black;
            }

            &:after {
                border-radius: 0 0 60%;
                transform: skew(-45deg);
                box-shadow: -3px -2px 0 0 #000 inset, -14px 0 0 0 #fff inset,
                    -17px -2px 0 0 #000 inset;
                left: 0;
            }
        }

        &.right {
            &:before {
                transform: skew(45deg);
                right: 50px;
                box-shadow: 0 -3px 0 5px white, 0 0 0 5px white, 0 8px 0 5px white,
                    -8px 8px 0 5px white, -16px 8px 0 5px white, -24px 8px 0 5px white,
                    0 0 0 8px black, 0 8px 0 8px black, -8px 8px 0 8px black,
                    -16px 8px 0 8px black, -24px 8px 0 8px black;
            }

            &:after {
                border-radius: 0 0 0 60%;
                transform: skew(45deg);
                box-shadow: 3px -2px 0 0 #000 inset, 14px 0 0 0 #fff inset,
                    17px -2px 0 0 #000 inset;
                right: 0;
            }
        }
    }
}