/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* .App {
  color: white;
  border: 1px solid black;
} */

body {
  margin: 0;
  padding: 0;
}

#log-button {
  background-color: black;
  font-family: monospace;
  border-radius: 30px;
  padding: 5px;
  width: 125px;
  font-weight: bold;
  margin-bottom: 20px;
  height: 37px
}

#username, #nusername {
  background: rgba(217, 217, 217, 0.5);
  color: black;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  padding-left: 12px;
  margin-bottom: 10px;
  font-family: monospace;
  height: 27px;
  width: 190px;
  outline: none;
}

#password, #npassword {
  background: rgba(217, 217, 217, 0.5);
  color: black;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  padding-left: 12px;
  margin-bottom: 20px;
  font-family: monospace;
  height: 27px;
  width: 190px;
  outline: none;
}

/* Styles for input fields when focused */
#username:focus, #nusername:focus, #password:focus, #npassword:focus {
  padding-left: 12px; /* Keep the padding consistent when focused */
  border: 1px solid white;
}

/* Styles for placeholder text */
#username::placeholder, #nusername::placeholder, #password::placeholder, #npassword::placeholder {
  padding-left: 1px; /* Adjust the left padding as needed */
  color: rgba(255, 255, 255, 0.7);
}

/* Hide placeholder text when the input field is focused */
#username:focus::placeholder, #nusername:focus::placeholder, #password:focus::placeholder, #npassword:focus::placeholder {
  color: transparent;
}

.for-textfields {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.username-div {
  margin-bottom: 10px;
  border: none;
}


.login-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #ff477e;
background: -webkit-linear-gradient(360deg, #ff477e 0%, #fbb1bd 100%);
background: linear-gradient(360deg, #ff477e 0%, #fbb1bd 100%);
}



.title {
  background-color: rgba(255, 224, 230, 0.5); /* 50% opacity white */
  /* flex: 1.3; */
  width: 100%;
  border-radius: 0 50px 50px 0; /* top-right and bottom-right corners have 10px radius */
}

.loginout {
  /* flex: 1; */
  align-items: center;
}

.card-container {
  perspective: 1000px; /* Set the 3D perspective for the card flip effect */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.card {
  width: 300px;
  height: 400px;
  position: relative ;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center;
  transform: translateX(0); 
  /* background-color: rgb(255, 224, 230); */
}

.login-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.login-card {
  width: 270px;
  height: 340px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
}


.create-user-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
}

.login-card {
  transform: rotateY(0deg);
}

.create-user-card {
  transform: rotateY(180deg); /* Initial rotation to hide it */
}

.card.flipped {
    transform: rotateY(180deg);
  } /* Flip the card when class "flipped" is applied */

.clickable-text {
  cursor: pointer;
  text-decoration: none;
  color: red;
  margin-left: 5px;
}

.for-flip {
  display: flex;
  align-items: center;
}

.header-text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: -20px;
  font-family: monospace;
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #ff477e;
background: -webkit-linear-gradient(360deg, #ff477e 0%, #fbb1bd 100%);
background: linear-gradient(360deg, #ff477e 0%, #fbb1bd 100%);
}

.posting {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts-display {
  width: 65%;
  background-color: rgba(255, 224, 230, 0.1);
  border-radius: 40px 0 0 40px;
}

#poster {
  width: 50%;
  height: 125px;
  padding-left: 40px;
  line-height: 125px;
  font-weight: bold;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  border: 3px solid rgba(255, 112, 150, 0.6);
  /* background: rgba(217, 217, 217, 10); */
  /* outline: white; */
}

#poster::placeholder {
  color: black;
}

#poster:focus {
  border: 1px solid white; /* Change the border color when focused */
}

#poster:focus::placeholder {
  color: transparent;
}

#post-button {
  color: white;
  background-color: #ff7096;
  font-family: monospace;
  border-radius: 30px;
  border: 2px solid white;
  padding: 5px;
  width: 90px;
  font-weight: bold;
  height: 37px;
  position: absolute;
  top: 47%;
  left: 24%; 
}

#log1-button {
  color: white;
  background-color: #ff7096;
  font-family: monospace;
  border-radius: 30px;
  border: 2px solid white;
  padding: 5px;
  width: 90px;
  font-weight: bold;
  height: 37px;
  top: 35%;
  left: -35%; 
}