/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* .App {
  color: white;
  border: 1px solid black;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.bottom-placeholder{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #FFF;
  background: transparent;
}

#log-button {
  background-color: black;
  border-radius: 30px;
  padding: 5px;
  width: 125px;
  font-weight: bold;
  margin-bottom: 20px;
  height: 37px;
  font-family: "Inter";
}

#username, #nusername {
  background: rgba(217, 217, 217, 0.5);
  color: black;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
  padding-left: 12px;
  margin-bottom: 10px;
  height: 27px;
  width: 190px;
  outline: none;
  font-family: "Inter";
}

#password, #npassword {
  color: black;
  padding: 5px;
  padding-left: 12px;
  margin-bottom: 20px;
  height: 27px;
  width: 190px;
  outline: none;
  font-family: "Inter";
  border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.50);
background: rgba(217, 217, 217, 0.50);
}

/* Styles for input fields when focused */
#username:focus, #nusername:focus, #password:focus, #npassword:focus {
  padding-left: 12px; /* Keep the padding consistent when focused */
  border: 1px solid white;
}

/* Styles for placeholder text */
#username::placeholder, #nusername::placeholder, #password::placeholder, #npassword::placeholder {
  padding-left: 1px; /* Adjust the left padding as needed */
  color: rgba(255, 255, 255, 0.7);
}

/* Hide placeholder text when the input field is focused */
#username:focus::placeholder, #nusername:focus::placeholder, #password:focus::placeholder, #npassword:focus::placeholder {
  color: transparent;
}

.for-textfields {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  font-family: "Inter";
}

.username-div {
  margin-bottom: 10px;
  border: none;
  font-family: "Inter";
}


.login-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(180deg, #FF5C8A 0.50%, rgba(235, 157, 179, 0.9) 99.29%, rgba(217, 217, 217, 0.00) 100%);
font-family: "Inter";
}



.title {
  background-color: rgba(255, 224, 230, 0.3);
  width: 100%;
  font-family: "Inter";
  border-radius: 0 50px 50px 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-forum {
  background: url('./assets/sakura3.jpg');
  background-size: 1300px 1300px;
  background-position: 50% 50%;
  width: fit-content;
  font-family: "Inter";
  border-radius: 0 50px 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: transparent; /* Make the text transparent */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
  font-size: 200px;
  font-weight: bolder;
}

.loginout {
  /* flex: 1; */
  align-items: center;
  font-family: "Inter";
}

.card-container {
  perspective: 1000px; /* Set the 3D perspective for the card flip effect */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: "Inter";
}

.card {
  width: 300px;
  height: 400px;
  position: relative ;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center;
  transform: translateX(0); 
  /* background-color: rgb(255, 224, 230); */
  font-family: "Inter";
}

.login-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  font-family: "Inter";
}

.login-card {
  width: 280px;
  height: 357px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgba(217, 217, 217, 0.10);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  font-family: "Inter";
}


.create-user-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  font-family: "Inter";
}

.login-card {
  transform: rotateY(0deg);
}

.create-user-card {
  transform: rotateY(180deg); /* Initial rotation to hide it */
}

.card.flipped {
    transform: rotateY(180deg);
  } /* Flip the card when class "flipped" is applied */

.clickable-text {
  cursor: pointer;
  text-decoration: none;
  color: red;
  margin-left: 5px;
  font-family: "Inter";
  text-decoration: underline;
  font-weight: 700;
}

.for-flip {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
}

.header-text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: -20px;
  font-family: "Inter";
  font-weight: 600;
  color: white;
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #ff477e;
  background: -webkit-linear-gradient(360deg, #ff477e 0%, #fbb1bd 100%);
  background: linear-gradient(360deg, #ff477e 0%, #fbb1bd 100%);
  font-family: "Inter";
}

.page-navigation {
  position: fixed;
  bottom: 0;
  width: 80%;
  left: 102%;
  transform: translateX(-50%);
  background-color: transparent;
  display: flex;
  padding: 10px;
  z-index: 1;
}

.posting {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden; 
  font-family: "Inter";

}

.right-side{
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


#poster {
  width: 50%;
  height: 125px;
  font-weight: bold;
  border: 1px solid transparent;
  color: black;
  background-color: white;
  border-radius: 25px;
  border: 3px solid rgba(255, 112, 150, 0.6);
  line-height: 125px;
  padding-left: 40px;
  font-family: "Inter";
}

#poster::placeholder {
  color: rgba(0, 0, 0, 0.6);
  line-height: 125px;
  font-family: "Inter";
}

#poster:focus {
  border: 1px solid white; /* Change the border color when focused */
}

#poster:focus::placeholder {
  color: transparent;
}

#post-button {
  color: white;
  background-color: #ff7096;
  border-radius: 30px;
  border: 2px solid white;
  padding: 5px;
  width: 90px;
  font-weight: bold;
  height: 37px;
  position: absolute;
  top: 52%;
  left: 24%; 
  font-family: "Inter";
  font-size: 12px;
}

#log1-button {
  color: white;
  background-color: #d7263d;
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px;
  width: 90px;
  font-weight: bold;
  font-family: "Inter";
  font-size: 12px;
  height: 37px;
  top: 35%;
  left: -35%; 
}

#page {
  color: white;
  background-color: #bf0603;
  border-radius: 30px;
  border: 2px solid white;
  padding: 5px;
  width: 100px;
  font-weight: bold;
  font-family: "Inter";
  font-size: 12px;
  height: 37px;
  margin-right: 10px;
}

#page1 {
  color: white;
  background-color: #bf0603;
  border-radius: 30px;
  border: 2px solid white;
  padding: 5px;
  width: 100px;
  font-weight: bold;
  font-family: "Inter";
  font-size: 12px;
  height: 37px;
}

#page2 {
  color: white;
  background-color: #bf0603;
  border: 2px solid white;
  font-weight: bold;
  font-family: "Inter";
  font-size: 12px;
  align-content: center;
  width: 10px;
  border-radius: 40px;
  font-size: 10px;
}

#page2 .MuiButton-startIcon {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

h1.bubble {
  word-wrap: break-word;
  display: inline-block;
  position: relative;
  padding: 40px;
  border-radius: 100px;
  border: 2px solid #fd638f;
  background: white;
  font-family: "Inter";
  clear: both;
  word-wrap: break-word;
  bottom: 35px;
  min-width: 100px;
  max-width: 600px;
  left: -20px;
  margin-top: 60px;

  &:before {
      content: "";
      position: absolute;
      bottom: -50px;
      height: 50px;
      width: 100px;
  }

  &.left {
      float: left;
      text-align: center;

      &:before {
          border-radius: 0 0 100%;
          box-shadow:
              -1px -2px 0 0 #fd638f inset,
              -23px 0 0 0 #fff inset,
              -25px -2px 0 0 #fd638f inset;
          left: 0;
      }
  }

  &.right {
      float: right;
      margin: 10px 10px 60px 100px;

      &:before {
          border-radius: 0 0 0 100%;
          box-shadow: 2px -2px 0 0 #fd638f inset, 23px 0 0 0 #fff inset,
              25px -2px 0 0 #fd638f inset;
          right: 0;
      }
  }

  &.think {
      &:before {
          height: 3px;
          width: 3px;
          bottom: -20px;
          border-radius: 100%;
          background: #fff;
      }

      &.left:before {
          left: 50px;
          box-shadow: 0 0 0 7px white, 0 0 0 10px black, -20px 15px 0 5px white,
              -20px 15px 0 8px black, -40px 20px 0 2px white, -40px 20px 0 5px black;
      }

      &.right:before {
          right: 50px;
          box-shadow: 0 0 0 7px white, 0 0 0 10px black, 20px 15px 0 5px white,
              20px 15px 0 8px black, 40px 20px 0 2px white, 40px 20px 0 5px black;
      }
  }

  &.yell {
      &:before {
          height: 0px;
          width: 0px;
          bottom: -8px;
          border-radius: 0;
          background: #fff;
      }

      &:after {
          content: "";
          position: absolute;
          bottom: 1px;
          height: 20px;
          width: auto;
      }

      &.left {
          &:before {
              transform: skew(-45deg);
              left: 50px;
              box-shadow:
                  0 0 0 7px white,
                  0 -3px 0 5px white, 0 0 0 5px white, 0 8px 0 5px white,
                  8px 8px 0 5px white, 16px 8px 0 5px white, 24px 8px 0 5px white,
                  0 0 0 8px black, 0 8px 0 8px black, 8px 8px 0 8px black,
                  16px 8px 0 8px black, 24px 8px 0 8px black;
          }

          &:after {
              border-radius: 0 0 60%;
              transform: skew(-45deg);
              box-shadow: -3px -2px 0 0 #000 inset, -14px 0 0 0 #fff inset,
                  -17px -2px 0 0 #000 inset;
              left: 0;
          }
      }

      &.right {
          &:before {
              transform: skew(45deg);
              right: 50px;
              box-shadow: 0 -3px 0 5px white, 0 0 0 5px white, 0 8px 0 5px white,
                  -8px 8px 0 5px white, -16px 8px 0 5px white, -24px 8px 0 5px white,
                  0 0 0 8px black, 0 8px 0 8px black, -8px 8px 0 8px black,
                  -16px 8px 0 8px black, -24px 8px 0 8px black;
          }

          &:after {
              border-radius: 0 0 0 60%;
              transform: skew(45deg);
              box-shadow: 3px -2px 0 0 #000 inset, 14px 0 0 0 #fff inset,
                  17px -2px 0 0 #000 inset;
              right: 0;
          }
      }
  }
}

.user-details {

  width: fit-content;
  height: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-left: -170px;
  font-size: small;
  font-weight: bold;
}

.user-details1 {

  width: fit-content;
  height: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
  font-size: small;
  font-weight: bold;
}

.user-deets {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size:smaller;
  font-weight: 300;
  margin-left: -230px;
  margin-bottom: 5px;
  width: fit-content;
  position: absolute;
  margin-top: -245px;
}